html {
  font-family: Raleway, sans-serif;
}

.rondo {
  font-family: Dorsa, sans-serif;
}

h2 {
  font-family: "Pathway Gothic One", sans-serif;
  color: #713BBA;
}

header a,
ul a {
  text-decoration: none;
}

footer ul a {
  color: #aaa;
}

header a {
  color: #000;
}

header nav a {
  color: #003777;
  font-family: "Pathway Gothic One", sans-serif;
}

header nav a:hover,
header nav a:focus {
  color: #BC0000;
}

header {
  border-bottom: 1px solid #aaa;
}

.drummer-home {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.try-now {
  background-color: #23AF63;
  border: none;
  border-radius: 20px;
  font-family: "Pathway Gothic One", sans-serif;
}

.try-now:hover {
  background: #fff;
  border: 3px solid #23AF63;
  border
}
