html {
  font-family: Raleway, sans-serif;
}

.rondo {
  font-family: Dorsa, sans-serif;
}

h1 {
  font-family: "Pathway Gothic One", sans-serif;
}

h2 {
  font-family: "Pathway Gothic One", sans-serif;
  color: #713bba;
}

h3 {
  font-family: "Pathway Gothic One", sans-serif;
  color: #003777;
}

h4 {
  font-family: "Pathway Gothic One", sans-serif;
}

header a,
ul a {
  text-decoration: none;
}

footer ul a {
  color: #666;
}

header a {
  color: #000;
}

header nav a {
  color: #003777;
  font-family: "Pathway Gothic One", sans-serif;
}

header nav a:hover,
header nav a:focus {
  color: #bc0000;
}

header {
  border-bottom: 1px solid #e2e2e2;
}

.drummer-home {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.try-now {
  background-color: #23af63;
  border: 3px solid #fff;
  border-radius: 50px;
  font-family: "Pathway Gothic One", sans-serif;
}

.try-now:hover {
  background: #fff;
  border: 3px solid #23af63;
  color: #23af63;
}

.simplify-entertainment,
.connecting {
  border-bottom: 1px solid #e2e2e2;
}

.features-btn {
  background-color: #bc0000;
  border: 3px solid #fff;
  border-radius: 40px;
  font-family: "Pathway Gothic One", sans-serif;
}

.features-btn:hover {
  background: #fff;
  border: 3px solid #bc0000;
  color: #bc0000;
}

.get-started-section {
  background-color: #c9748b;
}

.get-started {
  color: #fff;
  font-family: "Pathway Gothic One", sans-serif;
}

.get-started-label {
  color: #fff;
}

.get-started-email {
  width: 70%;
}

.get-started-btn {
  color: #003777;
  background-color: #fff;
  border: none;
  border-radius: 30px;
}

.get-started-btn:hover {
  background-color: #003777;
}

.inline {
  display: inline;
}

.sign-up-section {
  background-color: #23af63;
  font-family: "Pathway Gothic One", sans-serif;
}

.sign-up-section a {
  text-decoration: none;
  color: #fff;
}

.page-img-circle {
  border-radius: 400px;
  width: 80%;
}

.icon {
  width: 50%;
}

.background-feat-1 {
  color: #fff;
  background-color: #713bba;
}

.background-feat-2 {
  color: #fff;
  background-color: #003777;
}

.head {
  background-color: #713bba;
}

.head a {
  color: #fff;
}
